*{
    box-sizing: border-box;
}

h1{
    color: blue;
    text-align: center;
}
.body{
    display: inline-block;
    margin: 20px;
}

p{
    color: #468284;
    font-size: 1.2rem;
}

.image{
    height: 400px;
    width: 250px;

}

.image:hover{
    transform: scale(1.06);
}